{% extends "base.html.twig" %}
{% block header %}
    <nav>
        <div class="nav-wrapper">
            <ul class="right">
                <li  class="active"><a href="/article">Gestion Article</a></li>
                <li><a href="/">Gestion Utilisateurs</a></li>
            </ul>
        </div>
    </nav>
    <nav>
        <div class="nav-wrapper">
            <ul class="left">
                <li class="active"><a href="/article">Info</a></li>
                <li><a href="/article/populate">Seed</a></li>
            </ul>
        </div>
    </nav>
{% endblock %}
{% block body %}
    <div class="container z-depth-2">
        <table class="highlight">
            <thead>
                <th>ID</th>
                <th>Title</th>
                <th>Content</th>
                <th>User</th>
            </thead>
            <tbody>
            {% for article in articles %}
                    <tr>
                        <td><a href="/article/info/{{ article.getId() }}">{{ article.getId() }}</a></td>
                        <td>{{ article.getTitle() }}</td>
                        <td>{{ article.getContent()|u.truncate(100,"...") }}</td>
                        <td>{{ article.getUser().getName()| split(" ")[0] }}</td>
                    </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}